supermin.d*
min-initrd.d*
min-server/min-server
bzImage
vmlinux
out*
mydiff
newcall
test/
memcached
ereNvmlinux
linuxstartup
linuxsymbols
nmvml
segNvmlinux
uklstartup
uklsymbols
bzImage.noidea
bzImage.old
log
log2